.footer{
  text-align: center;
  background-size: cover;
}

.footer p{
  margin: 0 0 8rem 0;
  font-size: 14rem;
  color: #FFF;
}

.footer a{
  color: #FFF;
  text-decoration: none;
  font-weight: 700;
}
