.program {
  min-width: 900rem;
  padding-top: 152rem;
}

.inputbox-container {
  width: 100%;
  text-align: center;
  padding: 32rem 12rem;
  -webkit-transition: padding 0.5s; /* Safari */
  transition: padding 0.5s;
}

.sidebar-container {

}

.sidebar-container * {
  z-index: 1;
}

@media (max-width: 1200px) {

  .inputbox-container {
    width: 100%;
    text-align: center;
  }
}
