.container {
  background: rgba(0, 0, 0, .01);
  border: 4rem solid #6668;
  color: #555;
  cursor: pointer;
  display: inline-block;
  height: 240rem;
  margin: 10rem;
  position: relative;
  text-align: center;
  width: 200rem;
}

.container .title {
  font-size: 22rem;
  font-weight: 500;
  padding: 20rem 10rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.container .icon {
  display: inline-block;
  border: 2rem solid #555;
  border-radius: 50%;
  font-size: 36rem;
  left: 50%;
  line-height: 60rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 60rem;
  height: 60rem;
  transition: transform 0.4s;
}

.container .description {
  bottom: 10rem;
  font-size: 18rem;
  font-weight: 400;
  left: 20rem;
  position: absolute;
  right: 20rem;
}

.container:hover {
  background-color: #02b2fb88;
  border-color: transparent;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
  color: white;
}

.container:hover .icon {
  border-color: transparent;
  background: white;
  color: #02b2fb88;
  transform: translate(-50%, -50%) rotate(360deg);
}

.container:active {
  box-shadow: none;
}
