.page-container {
  padding-top: 152rem;
}

.page-content {
  padding: 50rem;
}

.container {
  box-shadow: 0 0 5rem rgb(0, 0, 0, .3);
  padding: 30rem;
  margin: 8rem -10rem;
  background: #f5f5f5;
}

.container .container-title {
  color: #02b2fb;
  font-size: 28rem;
  font-weight: 700;
  margin-bottom: 20rem;
  padding: 0;
}

.container .title {
  font-size: 20rem;
  font-weight: 500;
  margin-right: 10rem;
}

.container .text {
  font-size: 18rem;
  line-height: 30rem;
  color: #000;
}
