.home {
  height: 100vh;
  position: relative;
  text-align: center;
  min-height: 600rem;
  padding-top: 82rem;
}

/* footer */

.footer {
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #d3dae4;
  color: #fff;
  text-align: center;
  padding: 24rem 0;
  z-index: 2;
}

.footer .service-box {
  padding: 20rem 0;
  text-align: left;
}

.service-box .service-icon {
  border: 3rem solid #202d42;
  border-radius: 40rem;
  color: #202d42;
  float: left;
  font-size: 36rem;
  height: 80rem;
  line-height: 80rem;
  margin: 0;
  margin-top: 10rem;
  margin-right: 25rem;
  width: 80rem;
  text-align: center;
}

.service-box .service-title {
  color: #004a8a;
  font-size: 18rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.service-box .service-text {
  color: #202d42;
  font-size: 14rem;
  font-weight: 300;
}

/* main */

.main-container {
  text-align: center;
  padding-top: 24vh;
}

.main-container .title {
  font-size: 70rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #004a8a;
}

.main-container .description {
  font-size: 30rem;
  color: #04b2fb;
}

.search-box-container {
  margin: 24rem auto;
}

.search-box-container .search-icon {
  display: inline-block;
  background: transparent;
  color: #cacfd6;
  font-size: 24rem;
  font-weight: 500;
  padding: 12rem 12rem;
  vertical-align: middle;
  position: absolute;
  left: 20rem;
}

.search-box-container .search-box {
  padding: 9.5rem 46rem;
  font-size: 24rem;
  font-weight: 500;
  border: 2rem solid #cacfd6;
  border-radius: 5rem;
  text-align: center;
  outline: none;
  width: 100%;
  color: #555;
}

.search-box:active, .search-box:focus {
  border-color: #04b2fb;
}

.search-box:focus+.search-icon {
  color: #04b2fb;
}

.search-box:active::before, .search-box:focus::before {
  color: #04b2fb;
}

.search-box-container:active .service-icon {
  color: #04b2fb;
}

.search-box::placeholder {
  font-weight: 500;
}

.search-box:focus::placeholder {
  color: transparent;
}


@media (max-width: 992px) {
  .home {
    min-height: 720rem;
  }

  .main-container .title {
    font-size: 56rem;
  }

  .main-container .description {
    font-size: 24rem;
  }
}

@media (max-width: 768px) {

  .home {
    min-height: 720rem;
  }

  .main-container {
    padding-top: 20vh;
  }

  .main-container .title {
    font-size: 45rem;
    color: #004a8a;
  }

  .main-container .description {
    font-size: 20rem;
  }

  .search-box-container .search-icon {
    font-size: 18rem;
  }

  .search-box-container .search-box {
    font-size: 18rem;
  }
}

@media (max-height: 800px) {
  .footer {
    position: absolute;
  }
}

@media (max-width: 768px) and (max-height: 800px) {
  .main-container {
    padding-top: 10vh;
  }
}
