.single-post {
  margin: 20rem 0;
  padding: 15rem;
  border-radius: 2rem;
}

.post-title{
  font-size: 28rem;
  margin-bottom: 16rem;
  font-weight: 400;
  color: #616161;
}

.post-title a{
  text-decoration: none;
  color: #616161;
}

.author-name{
  font-size: 16rem;
  margin-bottom: 16rem;
  color: #757575;
}

.post-desc{
  font-size: 14rem;
  color: #888;
  margin-bottom: 8rem;
}

.post-action a{
  color: #555;
  text-decoration: none;
  font-size: 14rem;
  font-style: italic;
}

.post-action a:hover{
  color: #EF5350;
}

.divider{
  border: 0;
  height: 1rem;
  background: #ccc;
  width: 250rem;
  margin: 32rem auto 0;
}

.post-detail .post-title{
  font-size: 42rem;
  color: #454545;
}

.post-detail .post-desc{
  font-size: 16rem;
  color: #555;
}
