.button {
  display: inline-block;
  background: #02b2fb;
  padding: 7px 39px;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .3);
}

.full-width {
  width: 100%;
}

.button:hover {
  color: white;
}

.button:active {
  box-shadow: 0 0;
}
