.inputbox {
  display: inline-block;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.title {
  color: #004a8a;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
}

.main-container {
  padding: 10px 30px;
  text-align: left;
}

.main-container .question {
  font-size: 25px;
  font-weight: 500;
  word-wrap: break-word;
  color: #202d42;
  padding-left: 1.0em;
  text-indent: -1.0em;
  width: 720px;
}

.main-container .description {
  padding: 6px 1.6em;
  color: #a2a6ac;
  font-weight: 500;
  font-size: 18px;
}

.main-container .answer-container {
  padding: 20px 0;
  position: relative;
}

.answer-container .answer {
  margin: 10px 0;
  padding: 9.5px 40px 9.5px 65px;
  width: 720px;
  background: #ffffff;
  border: 2px solid #cacfd6;
  border-radius: 7px;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #213255;
  cursor: pointer;
  word-wrap: break-word;
}

.answer-container .answer:hover {
  background: #cacfd6;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, .5);
}

.answer-container .answer.active {
  background-color: #004a8a;
  background-repeat: no-repeat;
  background-position: 12px center;
  color: #ffffff;
}

.answer i {
  font-size: 24px;
  line-height: 24px;
  position: absolute;
  right: 10px;
}

.answer > .input {
  color: #202d42;
  outline: none;
  margin-left: 20px;
  margin-top: -15px;
  padding: 0 10px;
}

.answer > .input:hover {
  border-color: #02b2fb;
}

.answer > .input:active {
  border-color: #02b2fb;
}

.answer-container > .input {
  margin: 10px 0;
  padding: 9.5px 15px;
  width: 720px;
  height: 45px;
  background: #ffffff;
  border: 2px solid #cacfd6;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #213255;
  cursor: pointer;
  display: block;
}

.answer-container .input:hover {
  border-color: #02b2fb;
}

.answer-container .input:active {
  border-color: #02b2fb;
}

.input:focus {
  outline: none;
}

.main-container .button-group {
  padding: 7px 0 24px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #a2a6ac;
  text-align: center;
}

.button {
  display: inline-block;
  background: #e5e8ed;
  padding: 7px 39px;
  border-radius: 7px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: #202d42;
  cursor: pointer;
}

.button.big {
  padding: 8px 68px;
  font-size: 20px;
  background: #50d6ff;
}

.button.help {
  background: #202d42;
  font-weight: normal;
  font-size: 14px;
  color: white;
}

.button:hover {
  color: white;
}

.button.help:hover {
  color: rgb(255, 255, 255, .8);
}

.button:active {
  box-shadow: 0 0;
}

.main-container .help-container {
  padding: 20px 0;
  font-size: 14px;
}

.help-container .help-text {
  display: inline-block;
  padding: 7px 0;
}

.result {
  width: 720px;
}

.modal-header {
  padding: 16px 30px;
  font-size: 24px;
  color: #68717d;
  border-bottom: 2px solid #cacfd6;
}

.modal-body {
  padding: 24px 30px;
  color: #68717d;
}

.modal-body li {
  padding: 3px;
}

.modal-footer {
  text-align: right;
  background: #02b2fb;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #fff;
  padding: 10px 24px;
}

.button.note {
  background: #e5e8ed;
  font-weight: normal;
  font-size: 14px;
  color: #202d42;
  margin: 0px 10px;
  padding: 6px 16px;
  border-radius: 3px;
}
