.inputbox {
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 0 6rem rgb(0, 0, 0, .1);
  padding: 30rem;
}

.title {
  color: #004a8a;
  font-size: 30rem;
  font-weight: 700;
  padding: 10rem;
}

.progress-container {

  padding: 10rem 30rem;
  margin: 0rem 0rem
}

.progress-container .progress {
  margin: 0;
  height: 10rem;
}

.main-container {
  padding: 10rem 30rem;
  text-align: left;
}

.main-container .question {
  font-size: 25rem;
  font-weight: 500;
  word-wrap: break-word;
  color: #202d42;
  padding-left: 1.0em;
  text-indent: -1.0em;
  width: 720rem;
}

.note-icon {
  cursor: pointer;
}

.note-icon:hover {
  text-shadow: 0 0rem 10rem #fff;
}

.note-icon-global {
  color: #50d6ff;
  margin-left: 1.0em;
  font-size: 30rem;
  vertical-align: bottom;
  cursor: pointer;
}

.note-icon-global:hover {
  text-shadow: 0 0 6rem #50d6ff88;
}

.main-container .description {
  padding: 6rem 1.6em;
  color: #a2a6ac;
  font-weight: 500;
  font-size: 18rem;
}

.main-container .answer-container {
  padding: 20rem 0;
  position: relative;
}

.answer-container .answer {
  margin: 10rem 0;
  padding: 9.5rem 40rem 9.5rem 65rem;
  width: 720rem;
  background: #ffffff;
  border: 2rem solid #cacfd6;
  border-radius: 7rem;
  font-size: 20rem;
  font-family: 'Roboto';
  font-weight: 500;
  color: #213255;
  cursor: pointer;
  word-wrap: break-word;
}

.answer-container .answer:hover {
  background: #cacfd6;
  box-shadow: 0rem 2rem 5rem rgb(0, 0, 0, .5);
}

.answer-container .answer.active {
  background-color: #004a8a;
  background-repeat: no-repeat;
  background-position: 12rem center;
  color: #ffffff;
}

.answer i {
  font-size: 24rem;
  line-height: 24rem;
  position: absolute;
  right: 10rem;
}

.answer > .input {
  color: #202d42;
  outline: none;
  margin-left: 20rem;
  margin-top: -15rem;
  padding: 0 10rem;
}

.answer > .input:hover {
  border-color: #02b2fb;
}

.answer > .input:active {
  border-color: #02b2fb;
}

.answer-container > .input {
  margin: 10rem 0;
  padding: 9.5rem 15rem;
  width: 720rem;
  height: 45rem;
  background: #ffffff;
  border: 2rem solid #cacfd6;
  border-radius: 5rem;
  font-size: 20rem;
  font-family: 'Roboto';
  font-weight: 500;
  color: #213255;
  cursor: pointer;
  display: block;
}

.answer-container .input:hover {
  border-color: #02b2fb;
}

.answer-container .input:active {
  border-color: #02b2fb;
}

.input:focus {
  outline: none;
}

.main-container .button-group {
  padding: 7rem 0 24rem;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2rem solid #a2a6ac;
  text-align: center;
}

.button {
  display: inline-block;
  background: #e5e8ed;
  box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, .3);
  padding: 7rem 39rem;
  border-radius: 7rem;
  font-family: 'Roboto';
  font-size: 18rem;
  font-weight: 500;
  color: #202d42;
  cursor: pointer;
}

.button.disable {
  color: #aaa;
}

.button.big {
  color: white;
  padding: 8rem 68rem;
  font-size: 20rem;
  background: #50d6ff;
}

.button.help {
  background: #50d6ff;
  font-weight: normal;
  font-size: 14rem;
  color: white;
}

.button:hover {

}

.button.help:hover {

}

.button:active {
  box-shadow: 0 0;
}

.main-container .help-container {
  padding-top: 20rem;
  line-height: 32rem;
  font-size: 16rem;
}

.help-container .help-text {
  display: inline-block;
  padding: 7rem 0;
}

.result {
  width: 720rem;
}

.modal-content {
  border-width: 0rem;
}

.modal-header {
  padding: 16rem 30rem;
  font-size: 24rem;
  color: #02b2fb;
  border-bottom: 2rem solid #cacfd6;
}

.modal-body {
  padding: 24rem 30rem;
  font-size: 17rem;
  text-indent: 10rem;
  color: #000;
}

.modal-body h2 {
  font-size: 20rem;
  text-align: center;
  margin: 0;
  padding: 10rem;
  text-decoration: underline;
}

.modal-body li {
  padding: 3rem;
}

.modal-footer {
  text-align: right;
  background: #02b2fb;
  font-size: 17rem;
  border-bottom-left-radius: 6rem;
  border-bottom-right-radius: 6rem;
  color: #fff;
  padding: 15rem 24rem;
}

.button.note {
  background: #fff;
  font-weight: normal;
  font-size: 14rem;
  color: #02b2fb;
  margin: 0rem 10rem;
  padding: 6rem 16rem;
  border-radius: 3rem;
}
