.navbar {
  width: 100%;
  background-color: #fff;
  text-align: center;
  display: block;
  position: fixed;
  font-size: 20rem;
  font-weight: 400;
  border-bottom: 1rem solid #ccc;
  margin-top: 82rem;
}

.nav {
  padding: 0;
}

.nav .nav-item {
  display: inline-block;
  padding: 20rem 16rem;
  color: #0078c5;
  cursor: pointer;
}

.nav .nav-item:hover {
  transition: background-color 0.5s ease;
  background-color: #0078c5;
  color: #fff;
}

.nav-item > a {
  padding: 20rem 0;
  text-decoration: none;
  color: #0078c5;
}

.nav-item:hover > a {
  color: #fff;
}

.dropdown {
  position: absolute;
  margin-top: 20rem;
  padding: 10rem 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility .1s, opacity 0.1s linear;
  text-align: left;
  list-style: none;
  background: #fff;
  margin-left: -16rem;
}

.dropdown .section {

}

.section .section-title {
  padding: 10rem 0rem;
  background: #eee;
  font-weight: 700;
}

.nav-item:hover .dropdown {
  transition: opacity .25s ease-in-out;
  visibility: visible;
  opacity: 1;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, .5);
}

.dropdown li {
  padding: 10rem 20rem;
}

.dropdown li:hover {
  background-color: #0078c5;
}

.dropdown li > a {
  padding: 10rem 20rem;
  text-decoration: none;
}

.dropdown li:hover > a {
  color: #fff;
}
