.legalforms {
  width: 100vw;
  background: #fff;
  height: 100vh;
  color: #202d42;
  padding-top: 86px;
}

.search-box-container {
  width: 100vw;
  background: #d3dae4 ;
  padding: 15px;
}

.title-container {
  padding: 30px;
  text-align: center;
}

.main-title {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding: 15px 50px;
  border-bottom: 3px solid #cacfd6;
}

.main-container {

}

.main-container .category {
  margin: 10px 0;
}

.category .category-title {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  border-bottom: 5px solid #02b2fb;
  padding: 10px 20px 10px 0;
  margin: 10px 0 10px 0;
}

.category .item {
  display: block;
  font-size: 24px;
  font-weight: 500;
  padding: 5px 0;
  color: #202d42;
  text-decoration: none;
  cursor: pointer;
}

.category .item:hover {
  color: #02b2fb;
}
