.header {
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #004a8a;
  color: #fff;
  box-shadow: 2rem 2rem 10rem rgb(0, 0, 0, .4);
  border-radius: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 82rem;
}

.header .logo {
  text-transform: uppercase;
  font-size: 40rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  padding: 30rem 30rem;
}

.header .nav {

}

.nav-item-search {
  padding: 14rem 0rem;
  font-size: 20rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.nav-item-search div {
  margin: 0rem;
  padding: 14rem 15rem;
  font-size: 20rem;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.nav-item-search div:hover {
  color: #02b2fb;
}


.nav-item {
  padding: 14rem 0rem;
  font-size: 20rem;
  background: #004a8a;
}

.navbar-toggle {
  color: #fff;
  font-size: 30rem;
  padding: 10rem 5rem 10rem 10rem;
}

.nav-item:hover {
  border-bottom: 4rem solid #02b2fb;
  background: #004a8a;
}

.nav-item .icon {
  color: #1278c1;
}

.nav-item div {
  margin: 0rem;
  padding: 14rem 15rem;
  font-size: 20rem;
  color: #fff;
  text-decoration: none;
}

.nav-item a {
  padding: 28rem 0;
  text-decoration: none;
  color: white;
}

.nav-item.circular-border a:hover {
  background: transparent;
}

.dropdown {
  position: absolute;
  margin-top: 20rem;
  padding: 10rem 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility .1s, opacity 0.1s linear;
  text-align: center;
  list-style: none;
  background: #004a8a;
  border-width: 0;
  width: 100%;
}

.dropdown .section {

}

.section .section-title {
  padding: 10rem 0rem;
  background: #eee;
  font-weight: 700;
}

.nav-item:hover .dropdown {
  transition: opacity .25s ease-in-out;
  visibility: visible;
  opacity: 1;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, .1);
}

.dropdown li {
  padding: 0;
}

.dropdown li:hover {
  background-color: rgba(255, 255, 255, .1);;
}

.dropdown li > a {
  display: inline-block;
  position: relative;
  padding: 10rem 0;
  left: 0;
  right: 0;
  width: 100%;
  text-decoration: none;
}

.dropdown li:hover > a:hover, .dropdown li:hover > a:active {
  background: rgba(255, 255, 255, .3);
}


@media (max-width: 991px) {

  .dropdown {
    padding: 0rem;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  .nav-item:not(.fixed) {
    padding: 4rem;
  }

  .nav-item:hover .dropdown {
    position: static;
  }
}

@media (min-width: 992px) {

  .nav-item.circular-border {
    padding-left: 10rem;
  }
  .nav-item.circular-border:hover {
      border-bottom: 0;

  }
  .nav-item.circular-border a {
    font-size: 18rem;
    border: 1rem solid white;
    border-radius: 50rem;
    padding: 7.5rem 20rem;
    margin: 5rem auto;
  }

  .nav-item.signin {
    padding-left: 30rem;
  }

  .nav-item.signin a {
    border-color: white;
  }

  .nav-item.signin a:focus {
    background: transparent;
  }

  .nav-item.signup a {
    border-color: #04b2fb;
    background: #04b2fb;
  }

  .nav-item.circular-border.signin a:hover {
    border: 1rem solid #04b2fb;
    color: #04b2fb;
    background: rgba(255, 255, 255, .1);
  }

  .nav-item.circular-border.signin a:active {
    text-decoration: none;
    background: transparent;
  }

  .nav-item.circular-border.signup a:hover {
    color: white;
    background: rgba(4, 178, 251, .2);
    color: #04b2fb;
  }
}
