.header {
  display: block;
  background-color: #0059a5;
  padding: 20px;
  color: #fff;
}

.logo {
  display: inline-block;
  margin-left: 10%;
  text-transform: uppercase;
  font-size: 30px;
}

.nav {
  display: inline-block;
  float: right;
  padding: 5px;
}

.nav .nav-item {
  display: inline-block;
  font-size: 20px;
  padding: 0 20px;
  font-family: 'Lato';
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.nav-item:hover {
  color: #ccc;
}
