.container {
  background-color: #fff;
  box-shadow: 0 0 6rem rgb(0, 0, 0, .1);
  display: inline-block;
  margin-top: 50rem;
  width: 850rem;
}

.title {
  border-bottom: 2rem solid #cacfd6;
  color: #02b2fb;
  font-size: 28rem;
  font-weight: 500;
  margin: 0rem 50rem;
  padding: 30rem 0 20rem 0;
}

.message {
  color: black;
  font-size: 17rem;
  font-weight: 400;
  padding: 30rem 50rem;
  min-height: 370rem;
  text-align: justify;
}

.message p {
  margin: 0;
  text-indent: 16rem;
}

.message h2 {
  font-size: 20rem;
  text-align: center;
  margin: 0;
  padding: 10rem 0rem;
  text-decoration: underline;
}

.footer {
  background-color: #02b2fb;
  color: #fff;
  font-size: 17rem;
  font-weight: 400;
  padding: 12rem 40rem;
  text-align: left;
}

.footer .text {
  float: left;
  padding: 6rem 0;
}

.footer .btn-container {
  display: inline-block;
  text-align: right;
  float: right;
}

.input {
  margin: 10rem 0;
  padding: 9.5rem 15rem;
  width: 720rem;
  height: 45rem;
  background: #ffffff;
  border: 2rem solid #cacfd6;
  border-radius: 5rem;
  font-size: 20rem;
  font-family: 'Roboto';
  font-weight: 500;
  color: #213255;
  cursor: pointer;
  display: block;
}

.input-container {
  padding: 50rem;
  text-align: left;
  font-size: 20rem;
  font-weight: 400;
}

.input:hover {
  border-color: #02b2fb;
}

.input:active {
  border-color: #02b2fb;
}

.input:focus {
  outline: none;
}
