.container {
  width: 100%;
}

.search-box-container {
  position: fixed;
  background: #004a8a;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, .1);
  width: 100vw;
  background: #d3dae4;
  padding: 10rem 20rem;
  top: 82rem;
  z-index: 3;
}

.password{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  padding-top: 50vh;
  font-size: 30rem;
  text-align: center;
  visibility: hidden;
  z-index: 1000;
}
