.sidebar {
  display: inline-block;
  position: fixed;
  width: 325px;
  margin: 0;
  bottom: 0;
  top: 0;
  height: auto;
  padding: 166px 40px;
  color: #fff;
  background-color: #004a8a;
}

.block {
  padding: 20px 0;
}

.title {
  font-weight: 400;
  font-size: 20px;
}

.text {
  font-weight: 300;
  font-size: 17px;
  padding: 8px 0;
}

.link {
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.link:hover {
  color: #ccc;
  text-decoration: none;

}
