.sidebar {
  display: inline-block;
  position: fixed;
  width: 325px;
  margin: 0;
  bottom: 0;
  top: 0;
  height: auto;
  padding: 166px 0px;
  color: #fff;
  background-color: #004a8a;
  -webkit-transition: width 0.5s; /* Safari */
  transition: width 0.5s;
  z-index: 997;
}

.sidebar.hide {
  width: 0px;
}

.content-container {
  overflow: hidden;
}

.content {
  margin: 0 40px;
  width: 245px;
}

.sidebar.hide .content {

}

.block {
  padding: 20px 0;
}

.title {
  font-weight: 400;
  font-size: 20px;
}

.text {
  font-weight: 300;
  font-size: 17px;
  padding: 8px 0;
}

.link {
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.link:hover {
  color: #ccc;
  text-decoration: none;

}

.hover-icon {
  background: #004a8a;
  border-radius: 25px;
  cursor: pointer;
  font-size: 30px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  right: -25px;
  text-align: center;
  top: 55%;
  width: 50px;
}

.hover-icon:hover {
  background: white;
  border: 1px solid #04b2fb;
}

.hover-icon i {
  border: 1px solid transparent;
  color: white;
}

.hover-icon:hover i, .hover-icon:hover i:hover {
  color: #04b2fb;
}
