.sidebar {
  display: inline-block;
  position: fixed;
  width: 325rem;
  margin: 0;
  bottom: 0;
  top: 0;
  height: auto;
  padding: 166rem 0rem;
  color: #fff;
  background-color: #004a8a;
  -webkit-transition: width 0.5s; /* Safari */
  transition: width 0.5s;
}

.sidebar.hide {
  width: 0rem;
}

.content-container {
  overflow: hidden;
}

.content {
  margin: 0 40rem;
  width: 245rem;
}

.sidebar.hide .content {

}

.block {
  padding: 20rem 0;
}

.title {
  font-weight: 400;
  font-size: 20rem;
}

.text {
  font-weight: 300;
  font-size: 17rem;
  padding: 8rem 0;
}

.link {
  font-weight: 400;
  font-size: 17rem;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.link:hover {
  color: #ccc;
  text-decoration: none;

}

.hover-icon {
  background: #004a8a;
  border-radius: 25rem;
  cursor: pointer;
  font-size: 30rem;
  height: 50rem;
  line-height: 50rem;
  position: absolute;
  right: -25rem;
  text-align: center;
  top: 50%;
  width: 50rem;
}

.hover-icon:hover {
  background: white;
  border: 1rem solid #04b2fb;
}

.hover-icon i {
  border: 1rem solid transparent;
  color: white;
}

.hover-icon:hover i, .hover-icon:hover i:hover {
  color: #04b2fb;
}
