.container {
  box-shadow: 0 0 5rem rgb(0, 0, 0, .3);
  padding: 30rem;
  margin: 8rem -10rem;
  background: #f5f5f5;
}

.container .container-title {
  color: #02b2fb;
  font-size: 28rem;
  font-weight: 700;
  margin-bottom: 20rem;
  padding: 0;
}

.container .title {
  font-size: 20rem;
  font-weight: 500;
}

.container .title-big {
  font-size: 24rem;
  font-weight: 700
}

.container .text {
  font-size: 18rem;
  line-height: 30rem;
  color: #000;
  vertical-align: bottom;
}

.container .icon {
  color: #02b2fb;

}

.container .icon-big {
  font-size: 30rem;
}

.container .doc-container {
  padding-top: 10rem;
  text-align: center;
}

.container .avatar-container {
  margin: 0 auto;
  width: 200rem;
  height: 198rem;
  margin-bottom: 20rem;
}

.avatar-container .avatar {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.container .info-container {

}

.container .content {
  padding: 3rem 0;
}

.container .text-box {
  padding: 3rem 0;
  color: #000;
}

.container .tip-text {
  margin-left: 30rem;
  font-size: 18rem;
  font-weight: 500;
  line-height: 30rem;
  height: 30rem;
  display: inline-block;
}

.text-box .icon {
  border-radius: 3rem;
  font-size: 18rem;
  font-weight: 500;
  width: 30rem;
  height: 30rem;
  line-height: 30rem;
  text-align: center;
  color: #fff;
  background: #02b2fb;
  display: inline-block;
  margin-right: 10rem;
}

.button-container {
  text-align: center;
  margin: 0 auto;
  margin-top: 20rem;
}

.button-container2 {
  margin-top: 20rem;
  padding-left: 10rem;
}

.container .activity-container {
  border: 1rem solid rgba(0, 0, 0, .15);
  padding: 15rem 16rem 10rem 16rem;
  margin: 6rem 0;
}

.activity-container .icon {
  color: #000;
  font-size: 24rem;
}

.activity-container .link {
  color: #000;
  font-weight: 500;
  text-decoration: none;
  padding: 0 10rem;
  cursor: pointer;
}

.activity-seemore {
  text-align: center;
  font-size: 80rem;
  margin-top: -30rem;
  margin-bottom: 10rem;
  height: 30rem;
  cursor: pointer;
}

.activity-seemore i {
  color: #02b2fb;
  text-shadow: 0 2rem 3rem rgba(0, 0, 0, .3);
}

.activity-seemore i:active {
  color: #02b2fb;
  text-shadow: 0 0;
}

@media (max-width: 992px) and (min-width: 600px) {
  .container .avatar-container {
    float: left;
  }

  .container .info-container {
    margin-top: 30rem;
    margin-left: 50rem;
    display: inline-block;
  }
}
