.container {
  background-color: #fff;
  box-shadow: 0 0 6rem rgb(0, 0, 0, .1);
  display: inline-block;
  text-align: center;
}

.header {
  background: white;
  padding: 18rem 30rem;
  color: #02b2fb;
  border-bottom: 2rem solid #cacfd6;
}

.title {
  font-size: 28rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.content {
  padding: 30rem 30rem 10rem 30rem;
  text-align: left;
  font-size: 18rem;
  font-weight: 500;
}

.input {
  margin: 10rem 0;
  padding: 9.5rem 15rem;
  height: 45rem;
  background: #ffffff;
  border: 2rem solid #cacfd6;
  border-radius: 5rem;
  color: #213255;
  cursor: pointer;
  display: block;
  font-size: 20rem;
  font-family: 'Roboto';
  font-weight: 500;
  width: 100%;
}

.input.textarea {
  height: 160rem;
}

.input:hover {
  border-color: #02b2fb;
}

.input:active {
  border-color: #02b2fb;
}

.input:focus {
  outline: none;
}

.footer {
  background: white;
  padding: 16rem 30rem;
}

.footer .button {
  background: #02b2fb;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 22rem;
  font-weight: 500;
  padding: 12rem 10rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  outline: 0;
}

.footer .button:focus {
  outline: 0;
}

.footer .button:hover {
  background: #02b2fbcc;
}

.footer .button:active {
  background: #02b2fb88;
}
