.sidebar {
  display: inline-block;
  position: relative;
  width: 325px;
  margin: 0;
  height: 1000px;
  padding: 80px 40px;
  color: #fff;
  background-color: #0059a5;
  float: left;
}

.block {
  padding: 20px 0;
}

.title {
  font-weight: 400;
  font-size: 20px;
}

.text {
  font-weight: 300;
  font-size: 17px;
  padding: 8px 0;
}

.link {
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.link:hover {
  color: #ccc;
  text-decoration: none;

}
