.page {
  margin-top: 82rem;
  padding-top: 10vh;
}

.container {
  background: white;
  box-shadow: 0 0 6rem rgb(0, 0, 0, .1);
  max-width: 500rem;
  margin: 36rem auto;
  padding: 20rem 50rem;
  text-align: center;
  position: relative;
  color: #555;
}

.container a {
  text-decoration: none;
  cursor: pointer;
}

.title-container {
  text-align: center;
}

.title-container .title {
  font-size: 36rem;
  font-weight: 700;
  padding: 10rem 0;
}

.title-container .description {
  font-size: 20rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.container .link {
  color: #02b2fb;
  font-weight: 500;
}

.container .help-icon {
  position: absolute;
  top: 20rem;
  right: 20rem;
  font-size: 30rem;
  color: #02b2fb;
}

.input-container {
  padding: 30rem 0 0 0;
  text-align: left;
}

.label {
  color: #666;
  font-size: 20rem;
  font-weight: 500;
}

.input {
  border: 1rem solid #cacfd6;
  border-radius: 5rem;
  font-size: 18rem;
  font-weight: 500;
  padding: 20rem;
}

.input::placeholder {
  font-size: 16rem;
  font-weight: 400;

}

.input:focus {
  outline: none;
  outline-width: 0;
}

.check {
  color: #cacfd6;
}

.check-container {
  padding-top: 9rem;
  padding-bottom: 0rem;
  color: #cacfd6;
}

.button-container {
  display: inline-block;
  width: 100%;
  border-bottom: 2rem solid #cacfd6;
  margin: 0;
  padding: 20rem 0;
  text-align: center;
}

.social-container {
  display: inline-block;
  margin-top: 6rem;
  border-top: 2rem solid #cacfd6;
  width: 100%;
}

.page-link {
  display: inline-block;
  color: #02b2fb;
  font-size: 18rem;
  font-weight: 300;
  padding-bottom: 5rem;
}

.policy-text {
  display: inline-block;
  color: #808080;
  font-size: 16rem;
  font-weight: 400rem;
  margin: 10rem 0;
  margin-bottom: 10rem;
  position: static;
}


.btn {
  padding: 12rem 20rem;
  margin-top: 6rem;
  background: #02b2fb;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  outline-width: 0;
  outline: none;
  width: 100%;
}

.btn:hover {
  text-decoration: none;
  color: #fff;
}

.btn i {
  font-size: 120%;
  font-weight: bold;
  float: left;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  opacity: 0.5;
}

.btn-login {
  font-size: 20rem;
}

.btn-facebook {
  background: #3B5998;
  width: 49%
}

.btn-google {
  background: #DD4B39;
  width: 49%;
}

.spinner {
  display: inline-block;
  padding: 0;
  margin: 0;
}

@media (max-height: 900px) {
  .page {
    padding-top: 3vh;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 20rem 20rem;
  }
}
